/* css.css */
@font-face{
    font-family: 'undertalefont';
    src:url(../font/DeterminationMonoWebRegular-Z5oq.ttf) format('truetype');
}

@font-face{
    font-family: 'undertalech';
    src:url(../font/HYPixel11pxU-2.ttf) format('truetype');
}
@keyframes sans{
    from{
        bottom: 0;
        
    }
    to{
        bottom: 15px;
    }
}
@keyframes asl {
    0%{
        color: rgb(255, 134, 134);
    }
    12%{
        color: rgb(255, 205, 152);
    }
    24%{
        color: rgb(255, 238, 0);
    }
    36%{
        color: rgb(193, 255, 182);
    }
    48%{
        color: rgb(185, 255, 245);
    }
    60%{
        color: rgb(159, 161, 255);

    }
    72%{
        color: rgb(227, 176, 255);

    }
    84%{
        color: rgb(252, 184, 244);

    }
    100%{
        color: rgb(255, 180, 198);

    }
}
* {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    /* cursor: url(../image/deter.png),pointer; */
}
:lang(zh) {
    font-family: "undertalech",sans-serif;
  }
  
  /* 英文字体 */
:lang(en) {
    font-family: "undertalefont", sans-serif;
}
h1{
    animation:asl 3s linear 0s infinite;
    font-size: 40px;
}

body{
    background-color: black;
}

.dhl {
    display: flex;
    width: auto;
    height: 60px;
    color: white;
    border: 5px solid white;
    background-color: black;
    line-height: 60px;
    font-size: 40px;
    justify-content: space-between;
}

.dhbql{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.dhbql>li {
    font-size: 25px;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    margin-left: 12px;
}

a{
    text-decoration: none;
    color: white;
    position: relative;
}
li>a{
    margin-left: 60px;
    margin-right: 60px;
}
a:hover{
    color: yellow;
}
li>a:hover:before {
    content: ""; /* 移除直接图片引用 */
    position: absolute;
    top: -1px;
    right: 60px;
    width: 30px; /* 设置您需要的宽度 */
    height: 30px; /* 设置您需要的高度 */
    background: url(../image/deter.png) center/contain no-repeat;
}

/* 修改div悬停指示器 */
a>div:hover:before {
    content: ""; /* 移除直接图片引用 */
    background: url(../image/deter.png) center/contain no-repeat;
    position: absolute;
    top: 260px;
    right: 20px;
    width: 30px; /* 设置您需要的宽度 */
    height: 30px; /* 设置您需要的高度 */
}
  .ptr{
    position: relative;
    display: grid;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 30px;
    height: 1300px;
    width: 80%;
    gap: 16px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
  }
  .ptr div{
    border: 5px solid white;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    position: relative;
  }
.ptr div:hover{
    animation:sans 0.3s linear 0s 1;
    color: yellow;
    bottom: 15px;
}  
.ptr div>img{
    height: 250px;
    width: 250px;
    background-size: contain;
  }
.kl{
    grid-area: span 2 / span 2;
}
.kl div>img{
    height: 570px;
    width: 500px;
    background-size: contain;
  }
.end{
    position:absolute;
    height: 10%;
    width: 100%;
    bottom: 20px;
}
.f3{
    height: 400px;
    width: 100%;
    background-image: url(../image/ch.gif);
    background-size: 145% 200%;
    background-repeat: no-repeat;
    background-position: 50% 98%;
}
.chfile-con{
    margin: 10px;
    margin-top: 40px;
    width: 600px;
    height: 600px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.chfile-con>div{
    border: 5px solid white;
    background-color: black;
    color: white;
    padding: 10px;
}
.pro{
    grid-row: 2 span;
}
.mlist{
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: repeat(6,150px);
    gap: 10px;
}
.mlist div{
    border: 5px solid white;
    font-size: 30px;
    text-align: left;
    padding: 10px;
}